body{
    background-color: aqua;
}

header{
    text-align: center;
    width: 100vw;
}
nav{
    background-color: black;
}
a{
    color: aqua;
    text-decoration: none;
    text-align: center;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
main .div1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
main div .nom_prenom{
    position: absolute;
    margin: 5px;
    font-size: 30px;
}
.moi{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: auto; 
}
.ma_photo{
    width: 100%;
    height: 100%;
}
.encadré{
    width: 65vw;
    height: auto;
    border: 3px solid black;
    margin: 40px;

    display: flex;
    align-content: space-around;
    flex-direction: row;
}
/* .diplomes_Structure{
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
} */
.encadré *{
    margin: 40px;
    font-size: 30px;
}
.encadré h2{
    display: flex;
    justify-content: center;
}

footer{
    background-color: black;
    color: aqua;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}
footer .linkedin{
    margin: 5px;
    margin-left: 130px;
    gap: 5px;
    width: auto;
    height: 70px;
}
footer a{
    margin-left: -30px;
}

footer .linkedinh3{
    display: flex;
    align-items: center;
    font-weight: normal;
}

.service1, .service2{
    width: 45vw;
    height: 65vh;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
}

.div_projets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 65vh;
    border: 3px solid black;
    margin: 20px;
}
.div_projets h2{
    cursor: pointer;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    margin: 30px
}
.contact{
    display: flex;
    justify-content: center;
}
form label{
    position: relative;
    margin-left: -60px;
}
form input, form textarea{
    width: 200px;
    margin: 30px;
    margin-top: -20px;
}
textarea{
    width: auto;
    height: 20vh;
}
.btn{
    width: 121px;;
    height: 39px;
    margin-left: 20px;
    border-radius: 20px;
    border: 3px black solid;
    background-color: #00C700;
}
.btn:hover{
    background-color: #E0DAE1;
}

.service2-div{
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
    .ma_photo{
        width: 200px;
        height: auto;
    }
    .div1, .div_projets{
        display: flex;
        flex-wrap: wrap;
    }
    footer{
        width: 100vw;
    }
    footer a{
        align-items: center;
    }
    footer .linkedin{
        margin: 5px;
        margin-left: 50px;
        gap: 5px;
        width: auto;
        height: 70px;
    }
    .encadré{
        display: flex;
        justify-content: center;
    }
    .diplomes_Structure{
        display: flex;
        flex-direction: column;
    }
    .Parcours *{
        font-size: 1rem;
        margin: 0px;
    }
    .sous_encadré p{
        font-size: 1rem;
        margin: 12px;
    }
    form{
        margin-left: 20px;
    }
    form input, form textarea{
        width: 100px;
        margin: 20px;
        margin-top: -20px;
    }
    .form{
        margin-left: 100px;
    }
    .service2-div *, .service1{
        font-size: 1.6rem;
    }
    .service1, .service2{
        width: 90vw;
        margin: 5px;
    }

}