.sous_encadré{
    width: auto;
    height: auto;
    border: 3px solid black;
    font-size: auto;
}
.sous_encadré{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.sous_encadré p{
    font-size: 1.2rem;
}